---
layout: default
title: Blog
excerpt: Kirk Scheibelhut's blog, scheibo.com
---

{% for post in site.posts limit:3 %}

	{% include article_buttons.html %}

	<div class="article_title">
		<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
	</div>

	<p class="article_date date">
	  {{ post.date | date_to_string }}
	</p>

	<hr />

	<article>
		<div id="content">
		{{ post.content }}
	</div>
	</article>

	<hr />

	<a href="http://twitter.com/{{ site.twitter }}" class="signature">@{{ site.twitter }}</a>
	{% include blog-tags.html %}

	<hr />

	{% if post.hackernews %}
	<p id="footnote">
	&rarr; Join the discussion on <a href="http://news.ycombinator.com/item?id={{ page.hackernews }}">Hacker News</a>.
	</p>
	{% else %}
	<p>&nbsp;</p>
	{% endif %}

{% endfor %}


<span class="arrows blog-arrow"><a href="/archive">more &gt;</a></span>
<div class="clear"></div>
